.tab_wrapper {
	width: 100%;
	height: 88rpx;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #eee;
	.tab_item {
		line-height: 88rpx;
		font-size: 28rpx;
		color: rgba(0,0,0,0.45);
		transition: 300ms;
		&.active {
			color: #D92B34;
			position: relative;
			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				height: 4rpx;
				width: 100%;
				background-color: #D92B34;
			}
		}
	}
}

.select_wrapper {
	margin-top: 20rpx;
	display: flex;
	align-items: center;
	padding: 0 24rpx;
	width: 300rpx;
	.store_icon {
		width: 32rpx;
		height: 32rpx;
	}
}

.select2 {
	width: 700rpx;
	justify-content: center;
	.selin {
		width: 180rpx;
	}
	:deep(.uni-select) {
		border:none;
		padding-left: 0;
	}
}
.gap {width: 2rpx;height: 40rpx;background-color: #ccc;display: inline-block;margin: 0 20rpx;}
.content {
	background-color: #F5F6FA;
}
.cbox {
	margin: 24rpx;
	padding: 24rpx;
	background-color: #fff;
	border-radius: 16rpx;
	min-height: 200rpx;
	
	.c_title {
		font-size: 36rpx;
		color: rgba(0,0,0,0.85);
		font-weight: 500;
		position: relative;
		padding-left: 20rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8rpx;
		&::before {
			content: '';
			display: block;
			width: 8rpx;
			height: 34rpx;
			background: #D92B34;
			position: absolute;
			left: 0;
			top: 8rpx;
		}
	}
	.updateTime {
		float: right;
		font-size: 28rpx;
		color: rgba(0,0,0,0.45);
	}
}

.card_boxs {
	display: grid;
	grid-template-columns: repeat(2, 334rpx);
	align-items: center;
	flex-wrap: wrap;
	.card_box {
		padding: 24rpx;
		background-color: #FAFAFC;
		margin-right: 16rpx;
		margin-top: 16rpx;
		&.active {
			background-color: #FFF6F6;
		}
		.text {
			font-size: 32rpx;color: rgba(0,0,0,0.45);
			line-height: 1.6;
		}
		.count_num {font-size: 48rpx;font-weight: 600; color: rgba(0,0,0,0.85);line-height: 1.8;}
	}
	
}


.switch {
	width: 200rpx;
	height: 56rpx;
	background: #FAFAFC;
	border-radius: 8rpx 8rpx 8rpx 8rpx;
	position: absolute;
	right: 0;
	display: flex;
	padding: 4rpx;
	.switch-item {
		width: 100rpx;
		height: 48rpx;
		background: #FAFAFC;
		text-align: center;
		font-size: 24rpx;
		line-height: 54rpx;
		position: relative;
		z-index: 1;
		&::after {
			content: '';
			display: block;
			width: 94rpx;
			height: 48rpx;
			background: transparent;
			border-radius: 8rpx;
			border: 1rpx solid #E5E5E5;
			position: absolute;
			top: 4rpx;
			left: 4rpx;
			transition: all 300ms;
			pointer-events: none;
			z-index: -1;
			opacity: 0;
		}
		&.active {
			&::after {
				opacity: 1;
				background: rgba(255,255,255,1);
			}
		}
	}
}

 .charts-box {
    width: 100%;
    height: 300px;
  }