@font-face {
  font-family: "iconfont"; /* Project id 2227216 */
  src: url('iconfont.woff2?t=1680246867890') format('woff2'),
       url('iconfont.woff?t=1680246867890') format('woff'),
       url('iconfont.ttf?t=1680246867890') format('truetype'),
       url('iconfont.svg?t=1680246867890#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-infofill:before {
  content: "\e655";
}

.icon-checkfill:before {
  content: "\e64e";
}

.icon-clockfill:before {
  content: "\e64f";
}

.icon-minusfill:before {
  content: "\e650";
}

.icon-closefill:before {
  content: "\e651";
}

.icon-plusfill:before {
  content: "\e652";
}

.icon-warningfill:before {
  content: "\e653";
}

.icon-helpfill:before {
  content: "\e654";
}

.icon-heartfill:before {
  content: "\e64a";
}

.icon-statfill:before {
  content: "\e64b";
}

.icon-greatfill:before {
  content: "\e64c";
}

.icon-badfill:before {
  content: "\e64d";
}

.icon-share:before {
  content: "\e649";
}

.icon-setting:before {
  content: "\e61b";
}

.icon-edit:before {
  content: "\e61c";
}

.icon-function:before {
  content: "\e61d";
}

.icon-date:before {
  content: "\e61e";
}

.icon-category:before {
  content: "\e61f";
}

.icon-hide:before {
  content: "\e620";
}

.icon-view:before {
  content: "\e621";
}

.icon-delete:before {
  content: "\e622";
}

.icon-search:before {
  content: "\e623";
}

.icon-bottom:before {
  content: "\e624";
}

.icon-right:before {
  content: "\e625";
}

.icon-star:before {
  content: "\e626";
}

.icon-heart:before {
  content: "\e627";
}

.icon-top:before {
  content: "\e628";
}

.icon-bad:before {
  content: "\e629";
}

.icon-refresh:before {
  content: "\e62a";
}

.icon-great:before {
  content: "\e62b";
}

.icon-arrow-right:before {
  content: "\e62c";
}

.icon-arrow-up:before {
  content: "\e62d";
}

.icon-back:before {
  content: "\e62e";
}

.icon-help:before {
  content: "\e62f";
}

.icon-phone:before {
  content: "\e630";
}

.icon-arrow-down:before {
  content: "\e631";
}

.icon-warning:before {
  content: "\e632";
}

.icon-arrow-left:before {
  content: "\e633";
}

.icon-download:before {
  content: "\e634";
}

.icon-upload:before {
  content: "\e635";
}

.icon-bell:before {
  content: "\e636";
}

.icon-circleplus:before {
  content: "\e637";
}

.icon-circleminus:before {
  content: "\e638";
}

.icon-poweroff:before {
  content: "\e639";
}

.icon-customerservice:before {
  content: "\e63a";
}

.icon-check:before {
  content: "\e63b";
}

.icon-voice:before {
  content: "\e63c";
}

.icon-history:before {
  content: "\e63d";
}

.icon-scan:before {
  content: "\e63e";
}

.icon-dcaret:before {
  content: "\e63f";
}

.icon-caretup:before {
  content: "\e640";
}

.icon-caretdown:before {
  content: "\e641";
}

.icon-morevertical:before {
  content: "\e642";
}

.icon-darrowright:before {
  content: "\e643";
}

.icon-darrowup:before {
  content: "\e644";
}

.icon-darrowleft:before {
  content: "\e645";
}

.icon-darrowdown:before {
  content: "\e646";
}

.icon-caretright:before {
  content: "\e647";
}

.icon-caretleft:before {
  content: "\e648";
}

.icon-minus:before {
  content: "\e60f";
}

.icon-caret:before {
  content: "\e610";
}

.icon-close:before {
  content: "\e611";
}

.icon-plus:before {
  content: "\e612";
}

.icon-equals:before {
  content: "\e613";
}

.icon-clock:before {
  content: "\e614";
}

.icon-filter:before {
  content: "\e615";
}

.icon-circlecheck:before {
  content: "\e616";
}

.icon-more:before {
  content: "\e617";
}

.icon-piechart:before {
  content: "\e618";
}

.icon-circleclose:before {
  content: "\e619";
}

.icon-operation:before {
  content: "\e61a";
}

.icon-shujudaping:before {
  content: "\e601";
}

.icon-gongneng_yingyetongji:before {
  content: "\e602";
}

.icon-baobiaoxiazai:before {
  content: "\e603";
}

.icon-caipin:before {
  content: "\e604";
}

.icon-huodong:before {
  content: "\e605";
}

.icon-wuliufenxi:before {
  content: "\e606";
}

.icon-mendiantuiguang:before {
  content: "\e607";
}

.icon-pinpaiguanli:before {
  content: "\e608";
}

.icon-IMguanli:before {
  content: "\e609";
}

.icon-shouhoufenxi:before {
  content: "\e60a";
}

.icon-yichangjiankong:before {
  content: "\e60b";
}

.icon-gukefenxi:before {
  content: "\e60c";
}

