.flex_c {
	display: flex;
	align-items: center;
}
.flex_c_c {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex_c_b {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gap__20 {
	height: 20rpx;
}