@import './variable.scss';

.flex_c {
	display: flex;
	align-items: center;
}
.flex_c_c {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex_c_b {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gap {width: 1px;height: 40rpx;background-color: #e5e5e5; margin: 0 100rpx;}

.gap__20 {
	height: 24rpx;
}

.text {
	font-size: 28rpx;
	color: rgba(0,0,0,0.45);
}

.num {
	font-size: 32rpx;
	color: rgba(0, 0, 0, 0.85);;
	font-weight: 600;
}

.up {
	color: #E85858;
}
.down {
	color: #08AB6F;
}

.cbox {
	padding: 24rpx;
	background-color: #fff;
	border-radius: 16rpx;
	min-height: 200rpx;

	.c_title {
		font-size: 36rpx;
		color: rgba(0, 0, 0, 0.85);
		font-weight: 600;
		position: relative;
		padding-left: 20rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 18rpx;

		&::before {
			content: '';
			display: block;
			width: 8rpx;
			height: 32rpx;
			background: $red;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.uni-table-th  {
	font-size: 24rpx;
}


// 底部浮动按钮样式 start

.footerbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 108rpx;
  background: #ffffff;
  box-shadow: 0rpx -8rpx 16rpx 0rpx rgba(204, 204, 204, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footerbar_btn {
  width: 331rpx;
  height: 80rpx;
  background: #f2f2f2;
  border-radius: 4rpx 4rpx 4rpx 4rpx;
  font-size: 28rpx;
  line-height: 80rpx;
  text-align: center;
	&.active {
		background-color: #D92B34;
		color: #fff;
	}
}

// 底部浮动按钮样式  end